.musicIcon {
	width: 60px;
	height: 60px;
margin-left: 3px;
	margin-right: 3px;

	flex-grow: 1;
}

.dropArea {
	width: 70px;
	height: 70px;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	border: 3px solid black;
	border-radius: 10%;
	margin-left: 10px;
	background-color: white;
}

.logo {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
}


.musicIconsArea {
	width: 400px;
	height: 300px;
	display: flex;
	flex-direction: column;
}

.dropAndIcons {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 20px; 
}

.mainDropArea {
	border: 3px solid black;
	border-radius: 10%;
	width: 400px;
	height: 400px;
	background-color: gray;

}

.dropRows {
	display: flex;
	flex-direction: row;
	width: 350px;
	margin-top: 20px;
	margin-left: 15px;


}


.IconRow {
margin-top: 6px;
	width: 320px;
	height: 70px;
	display: flex;
	flex-direction: row;
}

.container {
	width: 800px;
	margin: 0 auto;
	display: flex;
}

body {

	background-image: url("../images/background3.jpg");
}

.musicArea {
	display: flex;
	flex-direction: column;
}

.barIcon {
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 90px;
	margin: 0 auto;
	padding-left: 70px;
	margin-top: 20px;
}

.barIconsImages img{
	width: 45px;
	margin-left: 25px;
}

