.musicIcon {
	width: 70px;
	height: 70px;
margin-left: 3px;
	margin-right: 3px;
flex-grow: 1;
}

.dropArea {
	width: 50px;
	height: 68px;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	border: 2px dotted #595959;
	border-radius: 5%;
	background-color: none;
	margin-right: 10px;

}


.text {
	display: flex;
	flex-direction: row;
}

.text h3 {
	font-family: 'Fjalla One', 'Arial', sans-serif;
	font-size: 22px;
	margin-bottom: 8px;
}

.text3 {
	display: flex;
	flex-direction: row;
}

.text3 h3 {
	font-family: 'Fjalla One', 'Arial', sans-serif;
	font-size: 22px;
	margin-top: 5px;
	margin-left: 390px;
}


.text1 {
	display: flex;
	margin-left: 150px;
	margin-right: 325px;
}

.logo {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

.text4 h2{
font-family: 'Fjalla One', 'Arial', sans-serif;
	font-size: 18px;
text-align: center;
	margin-left: 10px;

}

.text4 {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.musicIconsArea {
	width: 400px;
	height: 450px;
	display: flex;
	flex-direction: column;
	border: 3px solid #595959;
	border-radius: 5%;
	margin-right: 37px;
}

.dropAndIcons {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 20px; 
}

.mainDropArea {
	display: flex;
	flex-direction: column;
	border: 3px solid #595959;
	border-radius: 5%;
	width: 400px;
	height: 450px;
	background-color: none;

}

.dropRows {
	display: flex;
	width: 350px;
	margin-top: 35px;
	margin-left: 28px;
	margin-right: 10px;
}


.IconRow {
margin-top: 5px;
	width: 400px;
	height: 70px;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.container {
	width: 850px;
	margin: 0 auto;
	display: flex;
}

body {

	background-image: url("../images/background3.jpg");
}

.musicArea {
	display: flex;
	flex-direction: column;
}

.barIcon {
	border: 3px solid #595959;
	border-radius: 10%;
	display: flex;
	flex-direction: row;
	width: 200px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	flex-grow: 1
}

.barIconsImages img{
	width: 45px;
	height: 40px;
	margin-top: 5px;
	display: flex;
	flex-grow: 1;
}

.barIconsImages {
	display: flex;
	flex-grow: 1;
}

